@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-heading: var(--font-poppins), var(--font-montserrat), sans-serif;
    --font-body: var(--font-inter), var(--font-roboto), sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-slate-600 bg-white;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading text-primary;
  }
}

@layer utilities {
  .font-heading {
    font-family: var(--font-heading);
  }

  .font-body {
    font-family: var(--font-body);
  }
}

